@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

div#folio {
	border-top: 1px dashed #eaeaea;
	background-color: white;
	@include border-radius(15px 15px 0 0);
	color: #331e1e;
	padding: 1px 10px;
	margin: -30px auto 3px auto;
}
.project {
	display: inline-block;
	background-color: #212121;
	box-shadow: 0px 4px 10px black;
	margin: 30px;
	padding: 2px 12px;
	min-height: 350px;
} 

.project p {
	color: white;
	max-width: 325px;
}

h3 {
	color: black;
	margin-top: -30px;
}
.imgProject {
	border: 2px solid black;
	width: 300px;
	height: 150px;
	margin: 0 auto;
	float: center;
}
.skillBox {
	background-color: black;
	color: white;
	padding: 3px;
	display: inline-block;
	list-style-type: none;
	margin-right: 3px;
	margin-left: 3px;
	float: center;
}

a.projectLink {
	text-decoration: none;
}

a.projectLink:hover {
	opacity: 0.8;
}

