@import 'portfolioStyles';
@import 'navStyles';

* {
	font-family: Courier, monospace;
}

body {
	background-color: #579E48;
	font-size: 150%;
}
a {
	text-decoration: none;
}
a:hover {
	opacity: 0.5;
}

header {
	font-family: 'Caveat', cursive;
	font-size: 4em;
	color: white;
	text-align: center;
	padding: 10px;
	text-shadow: 2px 1px 1px #ccc;
	width: 95%;
	margin-top: -60px;
}
div.center {
	border-top: 1px dashed #eaeaea;
	text-align: center;
	padding: 5px;
	background-color: #077524;
	@include border-radius(15px);
	margin-top: -30px;
}
img.main {
	@include border-radius(10px);
	border: 1px solid black;
	box-shadow: 0px 5px 5px 5px #1c4b1c;
}
img.poetryImg {
	@include border-radius(10px);
	border: 1px solid black;
	box-shadow: 0px 5px 5px 5px #1c4b1c;
}

div.quote {
	text-align: left;
	text-indent: 10px;
	margin-top: -45px;
	padding-right: 10px;
	color: #E0D3D3;
	opacity: 0.8;
	font-size: 1.5em;
	text-shadow: 2px 1px 1px #222020;
}
div.left {
	width: 35%;
	margin: 5%;
	float: left;
	text-align: left;
}

div.right {
	text-align: right;
	float: right;
	width: 45%;
	margin: 5%;
}
.reads {
	float: right;
}

fieldset {
	border: 2px dotted black;
	border-radius: 10px;
}
#answer {
	background-color: #f4ede5;
}

textarea {
	width: 250px;
	height: 100px;
}

.myButton {
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border: 1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#077524;
	font-family: Courier;
	font-size: 15px;
	font-weight: bold;
	padding: 4px 12px;
	text-decoration: none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	border: 2px solid #10491f;
	opacity: 0.75;
}

/*  About page */
.about {
	margin: 40px;
}
.photo {
	float: right;
	@include border-radius(10px);
	border: 1px solid black;
	box-shadow: 0px 3px 7px 1px #1c4b1c;
	width: 388;
	height: 466;
	margin: 20px;
}
.leftPhoto {
	float: left;
	width: 200;
	height: 356;
}
.snazzy {
	background-color: #d6c0ec;
	padding: 5px 10px;
	margin: 40px;
	text-align: left;
	@include border-radius(15px 15px 0px 0px);
	box-shadow: 2px 1px 1px black;
}
#vid {
	margin: auto;
	@include border-radius(10px);
	border: 1px solid black;
	box-shadow: 0px 3px 7px 1px #1c4b1c;
}
.about p:nth-child(even) {
	background-color: #e2ddd5;
}
/*end of About page styling*/

@media (max-width: 1100px) {
	img.side {display: none;}
	.photo {width: 20%;}
	p {font-size: 90%;}
	nav ul li {margin-right: 20px; padding: 3px 10px; font-size: .8em;}
}
@media (max-width: 775px) {
	.leftPhoto {display: none;}
	img.poetryImg {display: none;} 
	p {font-size: 75%;}
}