* {
	font-family: Courier, monospace;
}

body {
	background-color: #579E48;
	font-size: 150%;
}

a {
	text-decoration: none;
}

a:hover {
	opacity: 0.5;
}


/* navigation */
nav {
	text-align: center;
}

nav ul li {
	display: inline;
	margin-right: 20px;
	font-size: 1.5em;
	background-color: white;
	border-radius: 20px;
	padding: 5px 15px;
}
/*end navigation styling*/



header {
	font-size: 3em;
	text-align: center;
	padding: 10px;
	border-bottom: 1px dashed #eaeaea;
}

div.center {
		text-align: center;
		padding: 5px;
		background-color: #077524;
		border-radius: 15px;
}

img.main {
	border-radius: 10px;
	border: 1px solid black;
	box-shadow: 0px 5px 5px 5px #1c4b1c;
}


div.quote {
	text-align: left;
	text-indent: 10px;
	margin-top: -75px;
	padding-right: 10px;
	color: #E0D3D3;
	opacity: 0.8;
	text-shadow: 2px 1px 1px #222020;
}

/*  About page */

.about {
	margin: 40px;
}
.photo {
	float: right;
	border-radius: 10px;
	border: 1px solid black;
	box-shadow: 0px 3px 7px 1px #1c4b1c;
	width: 388;
	height: 466;
	margin: 20px;
}

.leftPhoto {
	float: left;
	width: 200;
	height: 356;
}

.snazzy {
	background-color: #d6c0ec;
	padding: 5px 10px;
	margin: 40px;
	border-radius: 15px 15px 0px 0px;
	box-shadow: 2px 1px 1px black;
}

video {
	margin: auto;
	border: groove;
}

.about p:nth-child(even) {
	background-color: #e2ddd5;
}

/* Portfolio page*/
img.project {
	border-radius: 2px;
	box-shadow: 0 0 20px black;
	width: "194";
	height: "194";
}

.project {
	display: inline-block;
	padding-right: 30px;
}

/* Resume page */
div.resume {
	padding-left: 20px;
}


@media (max-width: 1100px) {
	img.side {display: none;}
	.photo {width: 20%;}
	p {font-size: 90%;}
	nav ul li {margin-right: 20px; padding: 3px 10px; font-size: .8em;}
}



@media (max-width: 700px) {
	.leftPhoto {display: none;}
	p {font-size: 75%;}
}
	


